@import './reset.scss';
@import './colors.scss';
@import './global.scss';

.app {
  height: 100vh;
  padding: 10px 10px;
  font: var(--font-m);
  color: var(--color-black);
  background: var(--color-gray-xs);
}

