@import './reset.scss';
@import './colors.scss';
@import './global.scss';

// я бы убрал все коменты


.app {
  //margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //  sans-serif;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //background: $color-gray-3xl;

  font: var(--font-m);

  background: var(--bg-color);

  color: var(--primary-color);
  min-height: 100vh;
}

//code {
//  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//    monospace;
//}
