.wrapper {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 184px;
  height: 43px;
  padding: 8px;
  background-color:  var(--bg-color);
}

.input {
  width: 130px;
  font-size: 18px;
  color:  var(--bg-color);
  background-color:  var(--bg-color);
}

.input::-moz-placeholder { 
  color:  var(--bg-color);
}

.input::-webkit-input-placeholder { 
  color:  var(--bg-color);
}
