.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 184px;
  height: 43px;
  padding: 8px;
  background-color:  var(--color-gray-xxl);
}

.input {
  width: 130px;
  font-size: 18px;
  color:  var(--color-gray-s);
  background-color:  var(--color-gray-xxl);
}

.input::-moz-placeholder { 
  color:  var(--color-gray-s);
}

.input::-webkit-input-placeholder { 
  color:  var(--color-gray-s);
}
